.item_216 {background-position:0px 0px;background-image:url('blocks_items_ic.png');}
.item_217 {background-position:-32px 0px;background-image:url('blocks_items_ic.png');}
.item_218 {background-position:-64px 0px;background-image:url('blocks_items_ic.png');}
.item_219 {background-position:-96px 0px;background-image:url('blocks_items_ic.png');}
.item_220 {background-position:-128px 0px;background-image:url('blocks_items_ic.png');}
.item_221 {background-position:-160px 0px;background-image:url('blocks_items_ic.png');}
.item_222 {background-position:-192px 0px;background-image:url('blocks_items_ic.png');}
.item_223 {background-position:-224px 0px;background-image:url('blocks_items_ic.png');}
.item_223_1 {background-position:-256px 0px;background-image:url('blocks_items_ic.png');}
.item_223_2 {background-position:-288px 0px;background-image:url('blocks_items_ic.png');}
.item_224 {background-position:-320px 0px;background-image:url('blocks_items_ic.png');}
.item_224_1 {background-position:-352px 0px;background-image:url('blocks_items_ic.png');}
.item_224_2 {background-position:-384px 0px;background-image:url('blocks_items_ic.png');}
.item_224_3 {background-position:0px -32px;background-image:url('blocks_items_ic.png');}
.item_225 {background-position:-32px -32px;background-image:url('blocks_items_ic.png');}
.item_225_1 {background-position:-64px -32px;background-image:url('blocks_items_ic.png');}
.item_225_2 {background-position:-96px -32px;background-image:url('blocks_items_ic.png');}
.item_226 {background-position:-128px -32px;background-image:url('blocks_items_ic.png');}
.item_227 {background-position:-160px -32px;background-image:url('blocks_items_ic.png');}
.item_227_1 {background-position:-192px -32px;background-image:url('blocks_items_ic.png');}
.item_227_2 {background-position:-224px -32px;background-image:url('blocks_items_ic.png');}
.item_227_3 {background-position:-256px -32px;background-image:url('blocks_items_ic.png');}
.item_227_4 {background-position:-288px -32px;background-image:url('blocks_items_ic.png');}
.item_227_5 {background-position:-320px -32px;background-image:url('blocks_items_ic.png');}
.item_228 {background-position:-352px -32px;background-image:url('blocks_items_ic.png');}
.item_229 {background-position:-384px -32px;background-image:url('blocks_items_ic.png');}
.item_230 {background-position:0px -64px;background-image:url('blocks_items_ic.png');}
.item_231 {background-position:-32px -64px;background-image:url('blocks_items_ic.png');}
.item_232 {background-position:-64px -64px;background-image:url('blocks_items_ic.png');}
.item_233 {background-position:-96px -64px;background-image:url('blocks_items_ic.png');}
.item_234 {background-position:-128px -64px;background-image:url('blocks_items_ic.png');}
.item_235 {background-position:-160px -64px;background-image:url('blocks_items_ic.png');}
.item_236 {background-position:-192px -64px;background-image:url('blocks_items_ic.png');}
.item_237 {background-position:-224px -64px;background-image:url('blocks_items_ic.png');}
.item_239 {background-position:-256px -64px;background-image:url('blocks_items_ic.png');}
.item_240 {background-position:-288px -64px;background-image:url('blocks_items_ic.png');}
.item_241 {background-position:-320px -64px;background-image:url('blocks_items_ic.png');}
.item_242 {background-position:-352px -64px;background-image:url('blocks_items_ic.png');}
.item_243 {background-position:-384px -64px;background-image:url('blocks_items_ic.png');}
.item_244 {background-position:0px -96px;background-image:url('blocks_items_ic.png');}
.item_245 {background-position:-32px -96px;background-image:url('blocks_items_ic.png');}
.item_246 {background-position:-64px -96px;background-image:url('blocks_items_ic.png');}
.item_246_1 {background-position:-96px -96px;background-image:url('blocks_items_ic.png');}
.item_246_2 {background-position:-128px -96px;background-image:url('blocks_items_ic.png');}
.item_246_3 {background-position:-160px -96px;background-image:url('blocks_items_ic.png');}
.item_246_4 {background-position:-192px -96px;background-image:url('blocks_items_ic.png');}
.item_246_5 {background-position:-224px -96px;background-image:url('blocks_items_ic.png');}
.item_247 {background-position:-256px -96px;background-image:url('blocks_items_ic.png');}
.item_248 {background-position:-288px -96px;background-image:url('blocks_items_ic.png');}
.item_249 {background-position:-320px -96px;background-image:url('blocks_items_ic.png');}
.item_250 {background-position:-352px -96px;background-image:url('blocks_items_ic.png');}
.item_250_1 {background-position:-384px -96px;background-image:url('blocks_items_ic.png');}
.item_250_2 {background-position:0px -128px;background-image:url('blocks_items_ic.png');}
.item_250_3 {background-position:-32px -128px;background-image:url('blocks_items_ic.png');}
.item_250_4 {background-position:-64px -128px;background-image:url('blocks_items_ic.png');}
.item_250_5 {background-position:-96px -128px;background-image:url('blocks_items_ic.png');}
.item_250_6 {background-position:-128px -128px;background-image:url('blocks_items_ic.png');}
.item_250_7 {background-position:-160px -128px;background-image:url('blocks_items_ic.png');}
.item_250_8 {background-position:-192px -128px;background-image:url('blocks_items_ic.png');}
.item_250_9 {background-position:-224px -128px;background-image:url('blocks_items_ic.png');}
.item_250_10 {background-position:-256px -128px;background-image:url('blocks_items_ic.png');}
.item_250_11 {background-position:-288px -128px;background-image:url('blocks_items_ic.png');}
.item_250_12 {background-position:-320px -128px;background-image:url('blocks_items_ic.png');}
.item_250_13 {background-position:-352px -128px;background-image:url('blocks_items_ic.png');}
.item_250_14 {background-position:-384px -128px;background-image:url('blocks_items_ic.png');}
.item_250_15 {background-position:0px -160px;background-image:url('blocks_items_ic.png');}
.item_30076 {background-position:-32px -160px;background-image:url('blocks_items_ic.png');}
.item_30076 {background-position:-64px -160px;background-image:url('blocks_items_ic.png');}
.item_30077 {background-position:-96px -160px;background-image:url('blocks_items_ic.png');}
.item_30077 {background-position:-128px -160px;background-image:url('blocks_items_ic.png');}
.item_30077_2 {background-position:-160px -160px;background-image:url('blocks_items_ic.png');}
.item_30077_3 {background-position:-192px -160px;background-image:url('blocks_items_ic.png');}
.item_30078 {background-position:-224px -160px;background-image:url('blocks_items_ic.png');}
.item_30078 {background-position:-256px -160px;background-image:url('blocks_items_ic.png');}
.item_30079 {background-position:-288px -160px;background-image:url('blocks_items_ic.png');}
.item_30080 {background-position:-320px -160px;background-image:url('blocks_items_ic.png');}
.item_30081 {background-position:-352px -160px;background-image:url('blocks_items_ic.png');}
.item_30082 {background-position:-384px -160px;background-image:url('blocks_items_ic.png');}
.item_30083 {background-position:0px -192px;background-image:url('blocks_items_ic.png');}
.item_30084 {background-position:-32px -192px;background-image:url('blocks_items_ic.png');}
.item_30085 {background-position:-64px -192px;background-image:url('blocks_items_ic.png');}
.item_30086 {background-position:-96px -192px;background-image:url('blocks_items_ic.png');}
.item_30087 {background-position:-128px -192px;background-image:url('blocks_items_ic.png');}
.item_30088 {background-position:-160px -192px;background-image:url('blocks_items_ic.png');}
.item_30089 {background-position:-192px -192px;background-image:url('blocks_items_ic.png');}
.item_30090 {background-position:-224px -192px;background-image:url('blocks_items_ic.png');}
.item_30091 {background-position:-256px -192px;background-image:url('blocks_items_ic.png');}
.item_30092 {background-position:-288px -192px;background-image:url('blocks_items_ic.png');}
.item_30093 {background-position:-320px -192px;background-image:url('blocks_items_ic.png');}
.item_30094 {background-position:-352px -192px;background-image:url('blocks_items_ic.png');}
.item_30095 {background-position:-384px -192px;background-image:url('blocks_items_ic.png');}
.item_30096 {background-position:0px -224px;background-image:url('blocks_items_ic.png');}
.item_30097 {background-position:-32px -224px;background-image:url('blocks_items_ic.png');}
.item_30098 {background-position:-64px -224px;background-image:url('blocks_items_ic.png');}
.item_30099 {background-position:-96px -224px;background-image:url('blocks_items_ic.png');}
.item_30100 {background-position:-128px -224px;background-image:url('blocks_items_ic.png');}
.item_30101 {background-position:-160px -224px;background-image:url('blocks_items_ic.png');}
.item_30102 {background-position:-192px -224px;background-image:url('blocks_items_ic.png');}
.item_30103 {background-position:-224px -224px;background-image:url('blocks_items_ic.png');}
.item_30104 {background-position:-256px -224px;background-image:url('blocks_items_ic.png');}
.item_30105 {background-position:-288px -224px;background-image:url('blocks_items_ic.png');}
.item_30106 {background-position:-320px -224px;background-image:url('blocks_items_ic.png');}
.item_30107 {background-position:-352px -224px;background-image:url('blocks_items_ic.png');}
.item_301108 {background-position:-384px -224px;background-image:url('blocks_items_ic.png');}
.item_30109 {background-position:0px -256px;background-image:url('blocks_items_ic.png');}
.item_30110 {background-position:-32px -256px;background-image:url('blocks_items_ic.png');}
.item_30110_1 {background-position:-64px -256px;background-image:url('blocks_items_ic.png');}
.item_30110_2 {background-position:-96px -256px;background-image:url('blocks_items_ic.png');}
.item_30111 {background-position:-128px -256px;background-image:url('blocks_items_ic.png');}
.item_30112 {background-position:-160px -256px;background-image:url('blocks_items_ic.png');}
.item_30113 {background-position:-192px -256px;background-image:url('blocks_items_ic.png');}
.item_30114 {background-position:-224px -256px;background-image:url('blocks_items_ic.png');}
.item_30115 {background-position:-256px -256px;background-image:url('blocks_items_ic.png');}
.item_30116 {background-position:-288px -256px;background-image:url('blocks_items_ic.png');}
.item_30117 {background-position:-320px -256px;background-image:url('blocks_items_ic.png');}
.item_30118 {background-position:-352px -256px;background-image:url('blocks_items_ic.png');}
.item_30119 {background-position:-384px -256px;background-image:url('blocks_items_ic.png');}
.item_30119 {background-position:0px -288px;background-image:url('blocks_items_ic.png');}
.item_30120 {background-position:-32px -288px;background-image:url('blocks_items_ic.png');}
.item_30121 {background-position:-64px -288px;background-image:url('blocks_items_ic.png');}
.item_30122 {background-position:-96px -288px;background-image:url('blocks_items_ic.png');}
.item_30124 {background-position:-128px -288px;background-image:url('blocks_items_ic.png');}
.item_30124 {background-position:-160px -288px;background-image:url('blocks_items_ic.png');}
.item_30125 {background-position:-192px -288px;background-image:url('blocks_items_ic.png');}
.item_30125_1 {background-position:-224px -288px;background-image:url('blocks_items_ic.png');}
.item_30125_2 {background-position:-256px -288px;background-image:url('blocks_items_ic.png');}
.item_30125_3 {background-position:-288px -288px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-320px -288px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-352px -288px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-384px -288px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:0px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-32px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-64px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-96px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-128px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-160px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-192px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-224px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-256px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-288px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-320px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-352px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-384px -320px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:0px -352px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-32px -352px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-64px -352px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-96px -352px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-128px -352px;background-image:url('blocks_items_ic.png');}
.item_30126 {background-position:-160px -352px;background-image:url('blocks_items_ic.png');}
.item_30127 {background-position:-192px -352px;background-image:url('blocks_items_ic.png');}
.item_30127 {background-position:-224px -352px;background-image:url('blocks_items_ic.png');}
.item_30128 {background-position:-256px -352px;background-image:url('blocks_items_ic.png');}
.item_30129 {background-position:-288px -352px;background-image:url('blocks_items_ic.png');}
.item_30130 {background-position:-320px -352px;background-image:url('blocks_items_ic.png');}
.item_30131 {background-position:-352px -352px;background-image:url('blocks_items_ic.png');}
.item_30132 {background-position:-384px -352px;background-image:url('blocks_items_ic.png');}
.item_30133 {background-position:0px -384px;background-image:url('blocks_items_ic.png');}
.item_30134 {background-position:-32px -384px;background-image:url('blocks_items_ic.png');}
.item_30135 {background-position:-64px -384px;background-image:url('blocks_items_ic.png');}
.item_30136 {background-position:-96px -384px;background-image:url('blocks_items_ic.png');}
.item_30137 {background-position:-128px -384px;background-image:url('blocks_items_ic.png');}
.item_30138 {background-position:-160px -384px;background-image:url('blocks_items_ic.png');}
.item_30139 {background-position:-192px -384px;background-image:url('blocks_items_ic.png');}
.item_30140 {background-position:-224px -384px;background-image:url('blocks_items_ic.png');}
.item_30140 {background-position:-256px -384px;background-image:url('blocks_items_ic.png');}
.item_30141 {background-position:-288px -384px;background-image:url('blocks_items_ic.png');}
.item_30141 {background-position:-320px -384px;background-image:url('blocks_items_ic.png');}
.item_30143 {background-position:-352px -384px;background-image:url('blocks_items_ic.png');}
.item_30144 {background-position:-384px -384px;background-image:url('blocks_items_ic.png');}
.item_30145 {background-position:0px -416px;background-image:url('blocks_items_ic.png');}
.item_30146 {background-position:-32px -416px;background-image:url('blocks_items_ic.png');}
.item_30147 {background-position:-64px -416px;background-image:url('blocks_items_ic.png');}
.item_30148 {background-position:-96px -416px;background-image:url('blocks_items_ic.png');}
.item_30149 {background-position:-128px -416px;background-image:url('blocks_items_ic.png');}
.item_30149 {background-position:-160px -416px;background-image:url('blocks_items_ic.png');}
.item_30150 {background-position:-192px -416px;background-image:url('blocks_items_ic.png');}
.item_30151 {background-position:-224px -416px;background-image:url('blocks_items_ic.png');}
.item_30152 {background-position:-256px -416px;background-image:url('blocks_items_ic.png');}
.item_30153 {background-position:-288px -416px;background-image:url('blocks_items_ic.png');}
.item_30154 {background-position:-320px -416px;background-image:url('blocks_items_ic.png');}
.item_30155 {background-position:-352px -416px;background-image:url('blocks_items_ic.png');}
.item_30156 {background-position:-384px -416px;background-image:url('blocks_items_ic.png');}
.item_30157 {background-position:0px -448px;background-image:url('blocks_items_ic.png');}
.item_30158 {background-position:-32px -448px;background-image:url('blocks_items_ic.png');}
.item_30159 {background-position:-64px -448px;background-image:url('blocks_items_ic.png');}
.item_30160 {background-position:-96px -448px;background-image:url('blocks_items_ic.png');}
.item_30161 {background-position:-128px -448px;background-image:url('blocks_items_ic.png');}
.item_30162 {background-position:-160px -448px;background-image:url('blocks_items_ic.png');}
.item_30163 {background-position:-192px -448px;background-image:url('blocks_items_ic.png');}
.item_30164 {background-position:-224px -448px;background-image:url('blocks_items_ic.png');}
.item_30165 {background-position:-256px -448px;background-image:url('blocks_items_ic.png');}
.item_30166 {background-position:-288px -448px;background-image:url('blocks_items_ic.png');}
.item_30167 {background-position:-320px -448px;background-image:url('blocks_items_ic.png');}
.item_30168 {background-position:-352px -448px;background-image:url('blocks_items_ic.png');}
.item_30169 {background-position:-384px -448px;background-image:url('blocks_items_ic.png');}
.item_30170 {background-position:0px -480px;background-image:url('blocks_items_ic.png');}
.item_30171 {background-position:-32px -480px;background-image:url('blocks_items_ic.png');}
.item_30171 {background-position:-64px -480px;background-image:url('blocks_items_ic.png');}
.item_30172 {background-position:-96px -480px;background-image:url('blocks_items_ic.png');}
.item_30172 {background-position:-128px -480px;background-image:url('blocks_items_ic.png');}
.item_30173 {background-position:-160px -480px;background-image:url('blocks_items_ic.png');}
.item_30173 {background-position:-192px -480px;background-image:url('blocks_items_ic.png');}
.item_30174 {background-position:-224px -480px;background-image:url('blocks_items_ic.png');}
.item_30174 {background-position:-256px -480px;background-image:url('blocks_items_ic.png');}
.item_30175 {background-position:-288px -480px;background-image:url('blocks_items_ic.png');}
.item_30175 {background-position:-320px -480px;background-image:url('blocks_items_ic.png');}
.item_30176 {background-position:-352px -480px;background-image:url('blocks_items_ic.png');}
.item_30176 {background-position:-384px -480px;background-image:url('blocks_items_ic.png');}
.item_30177 {background-position:0px -512px;background-image:url('blocks_items_ic.png');}
.item_30177 {background-position:-32px -512px;background-image:url('blocks_items_ic.png');}
.item_30178 {background-position:-64px -512px;background-image:url('blocks_items_ic.png');}
.item_30178 {background-position:-96px -512px;background-image:url('blocks_items_ic.png');}
.item_30179 {background-position:-128px -512px;background-image:url('blocks_items_ic.png');}
.item_30180 {background-position:-160px -512px;background-image:url('blocks_items_ic.png');}
.item_30180 {background-position:-192px -512px;background-image:url('blocks_items_ic.png');}
.item_30181 {background-position:-224px -512px;background-image:url('blocks_items_ic.png');}
.item_30182 {background-position:-256px -512px;background-image:url('blocks_items_ic.png');}
.item_30183 {background-position:-288px -512px;background-image:url('blocks_items_ic.png');}
.item_30184 {background-position:-320px -512px;background-image:url('blocks_items_ic.png');}
.item_30184_1 {background-position:-352px -512px;background-image:url('blocks_items_ic.png');}
.item_30184_2 {background-position:-384px -512px;background-image:url('blocks_items_ic.png');}
.item_30184_3 {background-position:0px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_4 {background-position:-32px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_5 {background-position:-64px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_6 {background-position:-96px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_7 {background-position:-128px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_8 {background-position:-160px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_9 {background-position:-192px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_10 {background-position:-224px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_11 {background-position:-256px -544px;background-image:url('blocks_items_ic.png');}
.item_30184_12 {background-position:-288px -544px;background-image:url('blocks_items_ic.png');}
.item_30185 {background-position:-320px -544px;background-image:url('blocks_items_ic.png');}
.item_30186 {background-position:-352px -544px;background-image:url('blocks_items_ic.png');}
.item_30187 {background-position:-384px -544px;background-image:url('blocks_items_ic.png');}
.item_30188 {background-position:0px -576px;background-image:url('blocks_items_ic.png');}
.item_30189 {background-position:-32px -576px;background-image:url('blocks_items_ic.png');}
.item_30190 {background-position:-64px -576px;background-image:url('blocks_items_ic.png');}
.item_30191 {background-position:-96px -576px;background-image:url('blocks_items_ic.png');}
.item_30192 {background-position:-128px -576px;background-image:url('blocks_items_ic.png');}
.item_30193 {background-position:-160px -576px;background-image:url('blocks_items_ic.png');}
.item_30194 {background-position:-192px -576px;background-image:url('blocks_items_ic.png');}
.item_30195 {background-position:-224px -576px;background-image:url('blocks_items_ic.png');}
.item_30196 {background-position:-256px -576px;background-image:url('blocks_items_ic.png');}
.item_30197 {background-position:-288px -576px;background-image:url('blocks_items_ic.png');}
.item_30198 {background-position:-320px -576px;background-image:url('blocks_items_ic.png');}
.item_30199 {background-position:-352px -576px;background-image:url('blocks_items_ic.png');}
.item_30200 {background-position:-384px -576px;background-image:url('blocks_items_ic.png');}
.item_30201 {background-position:0px -608px;background-image:url('blocks_items_ic.png');}
.item_30202 {background-position:-32px -608px;background-image:url('blocks_items_ic.png');}
.item_30203 {background-position:-64px -608px;background-image:url('blocks_items_ic.png');}
.item_30204 {background-position:-96px -608px;background-image:url('blocks_items_ic.png');}
.item_30205 {background-position:-128px -608px;background-image:url('blocks_items_ic.png');}
.item_30206 {background-position:-160px -608px;background-image:url('blocks_items_ic.png');}
.item_30207 {background-position:-192px -608px;background-image:url('blocks_items_ic.png');}
.item_30208 {background-position:-224px -608px;background-image:url('blocks_items_ic.png');}
.item_30208 {background-position:-256px -608px;background-image:url('blocks_items_ic.png');}
.item_30209 {background-position:-288px -608px;background-image:url('blocks_items_ic.png');}
.item_30209 {background-position:-320px -608px;background-image:url('blocks_items_ic.png');}
.item_30210 {background-position:-352px -608px;background-image:url('blocks_items_ic.png');}
.item_30211 {background-position:-384px -608px;background-image:url('blocks_items_ic.png');}

.item_30212 {background-position:-416px 0px;background-image:url('blocks_items_ic.png');}
.item_30213 {background-position:-448px 0px;background-image:url('blocks_items_ic.png');}
.item_30214 {background-position:-480px 0px;background-image:url('blocks_items_ic.png');}
.item_30215 {background-position:-512px 0px;background-image:url('blocks_items_ic.png');}
.item_30216 {background-position:-544px 0px;background-image:url('blocks_items_ic.png');}
.item_30217 {background-position:-576px 0px;background-image:url('blocks_items_ic.png');}
.item_30218 {background-position:-608px 0px;background-image:url('blocks_items_ic.png');}
.item_30219 {background-position:-640px 0px;background-image:url('blocks_items_ic.png');}
.item_30219 {background-position:-672px 0px;background-image:url('blocks_items_ic.png');}
.item_30220 {background-position:-704px 0px;background-image:url('blocks_items_ic.png');}
.item_30220 {background-position:-736px 0px;background-image:url('blocks_items_ic.png');}
.item_30221 {background-position:-768px 0px;background-image:url('blocks_items_ic.png');}
.item_30222 {background-position:-800px 0px;background-image:url('blocks_items_ic.png');}
.item_30223 {background-position:-416px -32px;background-image:url('blocks_items_ic.png');}
.item_30224 {background-position:-448px -32px;background-image:url('blocks_items_ic.png');}
.item_30225 {background-position:-480px -32px;background-image:url('blocks_items_ic.png');}
.item_30226 {background-position:-512px -32px;background-image:url('blocks_items_ic.png');}
.item_30227 {background-position:-544px -32px;background-image:url('blocks_items_ic.png');}
.item_30228 {background-position:-576px -32px;background-image:url('blocks_items_ic.png');}
.item_30229 {background-position:-608px -32px;background-image:url('blocks_items_ic.png');}
.item_30230 {background-position:-640px -32px;background-image:url('blocks_items_ic.png');}
.item_30231 {background-position:-672px -32px;background-image:url('blocks_items_ic.png');}
.item_30232 {background-position:-704px -32px;background-image:url('blocks_items_ic.png');}
.item_30233 {background-position:-736px -32px;background-image:url('blocks_items_ic.png');}
.item_30233 {background-position:-768px -32px;background-image:url('blocks_items_ic.png');}
.item_30234 {background-position:-800px -32px;background-image:url('blocks_items_ic.png');}
.item_30234 {background-position:-416px -64px;background-image:url('blocks_items_ic.png');}
.item_30235 {background-position:-448px -64px;background-image:url('blocks_items_ic.png');}
.item_30235 {background-position:-480px -64px;background-image:url('blocks_items_ic.png');}
.item_30236 {background-position:-512px -64px;background-image:url('blocks_items_ic.png');}
.item_30237 {background-position:-544px -64px;background-image:url('blocks_items_ic.png');}
.item_30238 {background-position:-576px -64px;background-image:url('blocks_items_ic.png');}
.item_30239 {background-position:-608px -64px;background-image:url('blocks_items_ic.png');}
.item_30240 {background-position:-640px -64px;background-image:url('blocks_items_ic.png');}
.item_30240 {background-position:-672px -64px;background-image:url('blocks_items_ic.png');}
.item_30241 {background-position:-704px -64px;background-image:url('blocks_items_ic.png');}
.item_30241 {background-position:-736px -64px;background-image:url('blocks_items_ic.png');}
.item_30242 {background-position:-768px -64px;background-image:url('blocks_items_ic.png');}
.item_30243 {background-position:-800px -64px;background-image:url('blocks_items_ic.png');}
.item_30244 {background-position:-416px -96px;background-image:url('blocks_items_ic.png');}
.item_30245 {background-position:-448px -96px;background-image:url('blocks_items_ic.png');}
.item_30246 {background-position:-480px -96px;background-image:url('blocks_items_ic.png');}
.item_30247 {background-position:-512px -96px;background-image:url('blocks_items_ic.png');}
.item_30248 {background-position:-544px -96px;background-image:url('blocks_items_ic.png');}
.item_30249 {background-position:-576px -96px;background-image:url('blocks_items_ic.png');}
.item_30250 {background-position:-608px -96px;background-image:url('blocks_items_ic.png');}
.item_30251 {background-position:-640px -96px;background-image:url('blocks_items_ic.png');}
.item_30252 {background-position:-672px -96px;background-image:url('blocks_items_ic.png');}
.item_30253 {background-position:-704px -96px;background-image:url('blocks_items_ic.png');}
.item_30254 {background-position:-736px -96px;background-image:url('blocks_items_ic.png');}
.item_30255 {background-position:-768px -96px;background-image:url('blocks_items_ic.png');}
.item_30256 {background-position:-800px -96px;background-image:url('blocks_items_ic.png');}