.item_2790 {background-position:0px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_2790_0 {background-position:0px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_2790_1 {background-position:-32px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_2790_2 {background-position:-64px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_2790_3 {background-position:-96px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_2790_4 {background-position:-128px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_27900 {background-position:-160px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_27901 {background-position:-192px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_27902 {background-position:-224px 0px;background-image:url('blocks_items_compactwindmills.png');}
.item_27903 {background-position:-256px 0px;background-image:url('blocks_items_compactwindmills.png');}