.item_1376 {background-position:0px 0px;background-image:url('blocks_items_forestry.png');}
.item_1377 {background-position:-32px 0px;background-image:url('blocks_items_forestry.png');}
.item_1378 {background-position:-64px 0px;background-image:url('blocks_items_forestry.png');}
.item_1379 {background-position:-96px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380 {background-position:-128px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_1 {background-position:-160px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_2 {background-position:-192px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_3 {background-position:-224px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_4 {background-position:-256px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_5 {background-position:-288px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_6 {background-position:-320px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_7 {background-position:-352px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_8 {background-position:-384px 0px;background-image:url('blocks_items_forestry.png');}
.item_1380_9 {background-position:0px -32px;background-image:url('blocks_items_forestry.png');}
.item_1380_10 {background-position:-32px -32px;background-image:url('blocks_items_forestry.png');}
.item_1380_11 {background-position:-64px -32px;background-image:url('blocks_items_forestry.png');}
.item_1380_12 {background-position:-96px -32px;background-image:url('blocks_items_forestry.png');}
.item_1380_13 {background-position:-128px -32px;background-image:url('blocks_items_forestry.png');}
.item_1380_14 {background-position:-160px -32px;background-image:url('blocks_items_forestry.png');}
.item_1380_15 {background-position:-192px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382 {background-position:-224px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382_2 {background-position:-256px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382_3 {background-position:-288px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382_4 {background-position:-320px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382_5 {background-position:-352px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382_6 {background-position:-384px -32px;background-image:url('blocks_items_forestry.png');}
.item_1382_7 {background-position:0px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386 {background-position:-32px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_1 {background-position:-64px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_2 {background-position:-96px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_ {background-position:-128px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_4 {background-position:-160px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_5 {background-position:-192px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_6 {background-position:-224px -64px;background-image:url('blocks_items_forestry.png');}
.item_1386_7 {background-position:-256px -64px;background-image:url('blocks_items_forestry.png');}
.item_1387 {background-position:-288px -64px;background-image:url('blocks_items_forestry.png');}
.item_1387_1 {background-position:-320px -64px;background-image:url('blocks_items_forestry.png');}
.item_1387_2 {background-position:-352px -64px;background-image:url('blocks_items_forestry.png');}
.item_1387_3 {background-position:-384px -64px;background-image:url('blocks_items_forestry.png');}
.item_1387_4 {background-position:0px -96px;background-image:url('blocks_items_forestry.png');}
.item_1387_5 {background-position:-32px -96px;background-image:url('blocks_items_forestry.png');}
.item_1387_6 {background-position:-64px -96px;background-image:url('blocks_items_forestry.png');}
.item_1387_7 {background-position:-96px -96px;background-image:url('blocks_items_forestry.png');}
.item_1388 {background-position:-128px -96px;background-image:url('blocks_items_forestry.png');}
.item_1388_1 {background-position:-160px -96px;background-image:url('blocks_items_forestry.png');}
.item_1388_2 {background-position:-192px -96px;background-image:url('blocks_items_forestry.png');}
.item_1388_3 {background-position:-224px -96px;background-image:url('blocks_items_forestry.png');}
.item_1389 {background-position:-256px -96px;background-image:url('blocks_items_forestry.png');}
.item_1389_1 {background-position:-288px -96px;background-image:url('blocks_items_forestry.png');}
.item_1389_2 {background-position:-320px -96px;background-image:url('blocks_items_forestry.png');}
.item_1389_3 {background-position:-352px -96px;background-image:url('blocks_items_forestry.png');}
.item_1390 {background-position:-384px -96px;background-image:url('blocks_items_forestry.png');}
.item_1390_1 {background-position:0px -128px;background-image:url('blocks_items_forestry.png');}
.item_1390_2 {background-position:-32px -128px;background-image:url('blocks_items_forestry.png');}
.item_1390_3 {background-position:-64px -128px;background-image:url('blocks_items_forestry.png');}
.item_1391 {background-position:-96px -128px;background-image:url('blocks_items_forestry.png');}
.item_1391_1 {background-position:-128px -128px;background-image:url('blocks_items_forestry.png');}
.item_1391_2 {background-position:-160px -128px;background-image:url('blocks_items_forestry.png');}
.item_1391_3 {background-position:-192px -128px;background-image:url('blocks_items_forestry.png');}
.item_1392 {background-position:-224px -128px;background-image:url('blocks_items_forestry.png');}
.item_1393 {background-position:-256px -128px;background-image:url('blocks_items_forestry.png');}
.item_1394 {background-position:-288px -128px;background-image:url('blocks_items_forestry.png');}
.item_1394_1 {background-position:-320px -128px;background-image:url('blocks_items_forestry.png');}
.item_1394_2 {background-position:-352px -128px;background-image:url('blocks_items_forestry.png');}
.item_1394_3 {background-position:-384px -128px;background-image:url('blocks_items_forestry.png');}
.item_1394_4 {background-position:0px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_5 {background-position:-32px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_6 {background-position:-64px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_7 {background-position:-96px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_8 {background-position:-128px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_9 {background-position:-160px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_10 {background-position:-192px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_11 {background-position:-224px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_12 {background-position:-256px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_13 {background-position:-288px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_14 {background-position:-320px -160px;background-image:url('blocks_items_forestry.png');}
.item_1394_15 {background-position:-352px -160px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-384px -160px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:0px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-32px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-64px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-96px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-128px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-160px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-192px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-224px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-256px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395 {background-position:-288px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-320px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-352px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-384px -192px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:0px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-32px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-64px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-96px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-128px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-160px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-192px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_2 {background-position:-224px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-256px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-288px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-320px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-352px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-384px -224px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:0px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-32px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-64px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-96px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-128px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_3 {background-position:-160px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-192px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-224px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-256px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-288px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-320px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-352px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-384px -256px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:0px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-32px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-64px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_4 {background-position:-96px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-128px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-160px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-192px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-224px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-256px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-288px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-320px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-352px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-384px -288px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:0px -320px;background-image:url('blocks_items_forestry.png');}
.item_1395_5 {background-position:-32px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-64px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-96px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-128px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-160px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-192px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-224px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-256px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-288px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-320px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-352px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-384px -320px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:0px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-32px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-64px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-96px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-128px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-160px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-192px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-224px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-256px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-288px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-320px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-352px -352px;background-image:url('blocks_items_forestry.png');}
.item_1396 {background-position:-384px -352px;background-image:url('blocks_items_forestry.png');}
.item_1397 {background-position:0px -384px;background-image:url('blocks_items_forestry.png');}
.item_1397_1 {background-position:-32px -384px;background-image:url('blocks_items_forestry.png');}
.item_1398 {background-position:-64px -384px;background-image:url('blocks_items_forestry.png');}
.item_1398_1 {background-position:-96px -384px;background-image:url('blocks_items_forestry.png');}
.item_1398_2 {background-position:-128px -384px;background-image:url('blocks_items_forestry.png');}
.item_1399_1 {background-position:-160px -384px;background-image:url('blocks_items_forestry.png');}
.item_1399_2 {background-position:-192px -384px;background-image:url('blocks_items_forestry.png');}
.item_1399_3 {background-position:-224px -384px;background-image:url('blocks_items_forestry.png');}
.item_1399_4 {background-position:-256px -384px;background-image:url('blocks_items_forestry.png');}
.item_1399_6 {background-position:-288px -384px;background-image:url('blocks_items_forestry.png');}
.item_1399_7 {background-position:-320px -384px;background-image:url('blocks_items_forestry.png');}
.item_1404 {background-position:-352px -384px;background-image:url('blocks_items_forestry.png');}
.item_1404_1 {background-position:-384px -384px;background-image:url('blocks_items_forestry.png');}
.item_1404_2 {background-position:0px -416px;background-image:url('blocks_items_forestry.png');}
.item_1404_3 {background-position:-32px -416px;background-image:url('blocks_items_forestry.png');}
.item_1404_4 {background-position:-64px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405 {background-position:-96px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_1 {background-position:-128px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_2 {background-position:-160px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_3 {background-position:-192px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_4 {background-position:-224px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_5 {background-position:-256px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_6 {background-position:-288px -416px;background-image:url('blocks_items_forestry.png');}
.item_1405_7 {background-position:-320px -416px;background-image:url('blocks_items_forestry.png');}
.item_1406 {background-position:-352px -416px;background-image:url('blocks_items_forestry.png');}
.item_1406_1 {background-position:-384px -416px;background-image:url('blocks_items_forestry.png');}
.item_1406_2 {background-position:0px -448px;background-image:url('blocks_items_forestry.png');}
.item_1407 {background-position:-32px -448px;background-image:url('blocks_items_forestry.png');}
.item_1407_1 {background-position:-64px -448px;background-image:url('blocks_items_forestry.png');}
.item_1407_2 {background-position:-96px -448px;background-image:url('blocks_items_forestry.png');}
.item_1408 {background-position:-128px -448px;background-image:url('blocks_items_forestry.png');}
.item_1408_1 {background-position:-160px -448px;background-image:url('blocks_items_forestry.png');}
.item_1408_2 {background-position:-192px -448px;background-image:url('blocks_items_forestry.png');}
.item_1409 {background-position:-224px -448px;background-image:url('blocks_items_forestry.png');}
.item_1409_1 {background-position:-256px -448px;background-image:url('blocks_items_forestry.png');}
.item_1410 {background-position:-288px -448px;background-image:url('blocks_items_forestry.png');}
.item_1411 {background-position:-320px -448px;background-image:url('blocks_items_forestry.png');}
.item_1411_1 {background-position:-352px -448px;background-image:url('blocks_items_forestry.png');}
.item_1411_2 {background-position:-384px -448px;background-image:url('blocks_items_forestry.png');}
.item_1411_3 {background-position:0px -480px;background-image:url('blocks_items_forestry.png');}
.item_1412 {background-position:-32px -480px;background-image:url('blocks_items_forestry.png');}
.item_1412_1 {background-position:-64px -480px;background-image:url('blocks_items_forestry.png');}
.item_1412_2 {background-position:-96px -480px;background-image:url('blocks_items_forestry.png');}
.item_1412_3 {background-position:-128px -480px;background-image:url('blocks_items_forestry.png');}
.item_1413 {background-position:-160px -480px;background-image:url('blocks_items_forestry.png');}
.item_1413_1 {background-position:-192px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415 {background-position:-224px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415_1 {background-position:-256px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415_2 {background-position:-288px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415_3 {background-position:-320px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415_4 {background-position:-352px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415_5 {background-position:-384px -480px;background-image:url('blocks_items_forestry.png');}
.item_1415_6 {background-position:0px -512px;background-image:url('blocks_items_forestry.png');}
.item_1415_7 {background-position:-32px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417 {background-position:-64px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_1 {background-position:-96px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_2 {background-position:-128px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_3 {background-position:-160px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_4 {background-position:-192px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_5 {background-position:-224px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_6 {background-position:-256px -512px;background-image:url('blocks_items_forestry.png');}
.item_1417_7 {background-position:-288px -512px;background-image:url('blocks_items_forestry.png');}
.item_1418 {background-position:-320px -512px;background-image:url('blocks_items_forestry.png');}
.item_1418_1 {background-position:-352px -512px;background-image:url('blocks_items_forestry.png');}
.item_1418_2 {background-position:-384px -512px;background-image:url('blocks_items_forestry.png');}
.item_1418_3 {background-position:0px -544px;background-image:url('blocks_items_forestry.png');}
.item_1418_4 {background-position:-32px -544px;background-image:url('blocks_items_forestry.png');}
.item_1418_5 {background-position:-64px -544px;background-image:url('blocks_items_forestry.png');}
.item_1418_6 {background-position:-96px -544px;background-image:url('blocks_items_forestry.png');}
.item_1418_7 {background-position:-128px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095 {background-position:-160px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_1 {background-position:-192px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_2 {background-position:-224px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_3 {background-position:-256px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_4 {background-position:-288px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_5 {background-position:-320px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_6 {background-position:-352px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_7 {background-position:-384px -544px;background-image:url('blocks_items_forestry.png');}
.item_4095_8 {background-position:0px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_9 {background-position:-32px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_10 {background-position:-64px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_11 {background-position:-96px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_12 {background-position:-128px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_13 {background-position:-160px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_14 {background-position:-192px -576px;background-image:url('blocks_items_forestry.png');}
.item_4095_15 {background-position:-224px -576px;background-image:url('blocks_items_forestry.png');}
.item_5256 {background-position:-256px -576px;background-image:url('blocks_items_forestry.png');}
.item_5257 {background-position:-288px -576px;background-image:url('blocks_items_forestry.png');}
.item_5258 {background-position:-320px -576px;background-image:url('blocks_items_forestry.png');}
.item_5259 {background-position:-352px -576px;background-image:url('blocks_items_forestry.png');}
.item_5260 {background-position:-384px -576px;background-image:url('blocks_items_forestry.png');}
.item_5261 {background-position:0px -608px;background-image:url('blocks_items_forestry.png');}
.item_5263 {background-position:-32px -608px;background-image:url('blocks_items_forestry.png');}
.item_5264 {background-position:-64px -608px;background-image:url('blocks_items_forestry.png');}
.item_5265 {background-position:-96px -608px;background-image:url('blocks_items_forestry.png');}
.item_5266 {background-position:-128px -608px;background-image:url('blocks_items_forestry.png');}
.item_5268 {background-position:-160px -608px;background-image:url('blocks_items_forestry.png');}
.item_5269 {background-position:-192px -608px;background-image:url('blocks_items_forestry.png');}
.item_5270 {background-position:-224px -608px;background-image:url('blocks_items_forestry.png');}
.item_5271 {background-position:-256px -608px;background-image:url('blocks_items_forestry.png');}
.item_5272 {background-position:-288px -608px;background-image:url('blocks_items_forestry.png');}
.item_5273 {background-position:-320px -608px;background-image:url('blocks_items_forestry.png');}
.item_5274 {background-position:-352px -608px;background-image:url('blocks_items_forestry.png');}
.item_5275 {background-position:-384px -608px;background-image:url('blocks_items_forestry.png');}

.item_5276 {background-position:-416px 0px;background-image:url('blocks_items_forestry.png');}
.item_5277 {background-position:-448px 0px;background-image:url('blocks_items_forestry.png');}
.item_5278 {background-position:-480px 0px;background-image:url('blocks_items_forestry.png');}
.item_5279 {background-position:-512px 0px;background-image:url('blocks_items_forestry.png');}
.item_5280 {background-position:-544px 0px;background-image:url('blocks_items_forestry.png');}
.item_5281 {background-position:-576px 0px;background-image:url('blocks_items_forestry.png');}
.item_5282 {background-position:-608px 0px;background-image:url('blocks_items_forestry.png');}
.item_13256 {background-position:-640px 0px;background-image:url('blocks_items_forestry.png');}
.item_13257 {background-position:-672px 0px;background-image:url('blocks_items_forestry.png');}
.item_13258 {background-position:-704px 0px;background-image:url('blocks_items_forestry.png');}
.item_13259 {background-position:-736px 0px;background-image:url('blocks_items_forestry.png');}
.item_13260 {background-position:-768px 0px;background-image:url('blocks_items_forestry.png');}
.item_13261 {background-position:-800px 0px;background-image:url('blocks_items_forestry.png');}
.item_13262 {background-position:-416px -32px;background-image:url('blocks_items_forestry.png');}
.item_13263 {background-position:-448px -32px;background-image:url('blocks_items_forestry.png');}
.item_13264 {background-position:-480px -32px;background-image:url('blocks_items_forestry.png');}
.item_13265 {background-position:-512px -32px;background-image:url('blocks_items_forestry.png');}
.item_13276 {background-position:-544px -32px;background-image:url('blocks_items_forestry.png');}
.item_13277 {background-position:-576px -32px;background-image:url('blocks_items_forestry.png');}
.item_13278 {background-position:-608px -32px;background-image:url('blocks_items_forestry.png');}
.item_13283 {background-position:-640px -32px;background-image:url('blocks_items_forestry.png');}
.item_13284 {background-position:-672px -32px;background-image:url('blocks_items_forestry.png');}
.item_13285 {background-position:-704px -32px;background-image:url('blocks_items_forestry.png');}
.item_13286 {background-position:-736px -32px;background-image:url('blocks_items_forestry.png');}
.item_13286_1 {background-position:-768px -32px;background-image:url('blocks_items_forestry.png');}
.item_13287 {background-position:-800px -32px;background-image:url('blocks_items_forestry.png');}
.item_13287_1 {background-position:-416px -64px;background-image:url('blocks_items_forestry.png');}
.item_13287_3 {background-position:-448px -64px;background-image:url('blocks_items_forestry.png');}
.item_13288 {background-position:-480px -64px;background-image:url('blocks_items_forestry.png');}
.item_13289 {background-position:-512px -64px;background-image:url('blocks_items_forestry.png');}
.item_13290 {background-position:-544px -64px;background-image:url('blocks_items_forestry.png');}
.item_13291 {background-position:-576px -64px;background-image:url('blocks_items_forestry.png');}
.item_13292 {background-position:-608px -64px;background-image:url('blocks_items_forestry.png');}
.item_13292_1 {background-position:-640px -64px;background-image:url('blocks_items_forestry.png');}
.item_13293 {background-position:-672px -64px;background-image:url('blocks_items_forestry.png');}
.item_13294 {background-position:-704px -64px;background-image:url('blocks_items_forestry.png');}
.item_13295 {background-position:-736px -64px;background-image:url('blocks_items_forestry.png');}
.item_13296 {background-position:-768px -64px;background-image:url('blocks_items_forestry.png');}
.item_13297 {background-position:-800px -64px;background-image:url('blocks_items_forestry.png');}
.item_13298 {background-position:-416px -96px;background-image:url('blocks_items_forestry.png');}
.item_13299 {background-position:-448px -96px;background-image:url('blocks_items_forestry.png');}
.item_13300 {background-position:-480px -96px;background-image:url('blocks_items_forestry.png');}
.item_13301 {background-position:-512px -96px;background-image:url('blocks_items_forestry.png');}
.item_13302 {background-position:-544px -96px;background-image:url('blocks_items_forestry.png');}
.item_13304 {background-position:-576px -96px;background-image:url('blocks_items_forestry.png');}
.item_13305 {background-position:-608px -96px;background-image:url('blocks_items_forestry.png');}
.item_13306 {background-position:-640px -96px;background-image:url('blocks_items_forestry.png');}
.item_13307 {background-position:-672px -96px;background-image:url('blocks_items_forestry.png');}
.item_13308 {background-position:-704px -96px;background-image:url('blocks_items_forestry.png');}
.item_13312 {background-position:-736px -96px;background-image:url('blocks_items_forestry.png');}
.item_13313 {background-position:-768px -96px;background-image:url('blocks_items_forestry.png');}
.item_13314 {background-position:-800px -96px;background-image:url('blocks_items_forestry.png');}
.item_13315 {background-position:-416px -128px;background-image:url('blocks_items_forestry.png');}
.item_13318 {background-position:-448px -128px;background-image:url('blocks_items_forestry.png');}
.item_13319 {background-position:-480px -128px;background-image:url('blocks_items_forestry.png');}
.item_13320 {background-position:-512px -128px;background-image:url('blocks_items_forestry.png');}
.item_13321 {background-position:-544px -128px;background-image:url('blocks_items_forestry.png');}
.item_13322 {background-position:-576px -128px;background-image:url('blocks_items_forestry.png');}
.item_13323 {background-position:-608px -128px;background-image:url('blocks_items_forestry.png');}
.item_13324 {background-position:-640px -128px;background-image:url('blocks_items_forestry.png');}
.item_13325 {background-position:-672px -128px;background-image:url('blocks_items_forestry.png');}
.item_13326 {background-position:-704px -128px;background-image:url('blocks_items_forestry.png');}
.item_13327 {background-position:-736px -128px;background-image:url('blocks_items_forestry.png');}
.item_13328 {background-position:-768px -128px;background-image:url('blocks_items_forestry.png');}
.item_13329 {background-position:-800px -128px;background-image:url('blocks_items_forestry.png');}
.item_13329 {background-position:-416px -160px;background-image:url('blocks_items_forestry.png');}
.item_13329 {background-position:-448px -160px;background-image:url('blocks_items_forestry.png');}
.item_13329 {background-position:-480px -160px;background-image:url('blocks_items_forestry.png');}
.item_13329 {background-position:-512px -160px;background-image:url('blocks_items_forestry.png');}
.item_13329 {background-position:-544px -160px;background-image:url('blocks_items_forestry.png');}
.item_13330 {background-position:-576px -160px;background-image:url('blocks_items_forestry.png');}
.item_13330 {background-position:-608px -160px;background-image:url('blocks_items_forestry.png');}
.item_13330 {background-position:-640px -160px;background-image:url('blocks_items_forestry.png');}
.item_13330 {background-position:-672px -160px;background-image:url('blocks_items_forestry.png');}
.item_13330 {background-position:-704px -160px;background-image:url('blocks_items_forestry.png');}
.item_13330 {background-position:-736px -160px;background-image:url('blocks_items_forestry.png');}
.item_13331 {background-position:-768px -160px;background-image:url('blocks_items_forestry.png');}
.item_13332 {background-position:-800px -160px;background-image:url('blocks_items_forestry.png');}
.item_13333 {background-position:-416px -192px;background-image:url('blocks_items_forestry.png');}
.item_13334 {background-position:-448px -192px;background-image:url('blocks_items_forestry.png');}
.item_13335 {background-position:-480px -192px;background-image:url('blocks_items_forestry.png');}
.item_13336 {background-position:-512px -192px;background-image:url('blocks_items_forestry.png');}
.item_13337 {background-position:-544px -192px;background-image:url('blocks_items_forestry.png');}
.item_13338 {background-position:-576px -192px;background-image:url('blocks_items_forestry.png');}
.item_13339 {background-position:-608px -192px;background-image:url('blocks_items_forestry.png');}
.item_13340 {background-position:-640px -192px;background-image:url('blocks_items_forestry.png');}
.item_13340 {background-position:-672px -192px;background-image:url('blocks_items_forestry.png');}
.item_13340 {background-position:-704px -192px;background-image:url('blocks_items_forestry.png');}
.item_13340 {background-position:-736px -192px;background-image:url('blocks_items_forestry.png');}
.item_13340 {background-position:-768px -192px;background-image:url('blocks_items_forestry.png');}
.item_13340 {background-position:-800px -192px;background-image:url('blocks_items_forestry.png');}
.item_13341 {background-position:-416px -224px;background-image:url('blocks_items_forestry.png');}
.item_13341 {background-position:-448px -224px;background-image:url('blocks_items_forestry.png');}
.item_13341 {background-position:-480px -224px;background-image:url('blocks_items_forestry.png');}
.item_13341 {background-position:-512px -224px;background-image:url('blocks_items_forestry.png');}
.item_13341 {background-position:-544px -224px;background-image:url('blocks_items_forestry.png');}
.item_13341 {background-position:-576px -224px;background-image:url('blocks_items_forestry.png');}
.item_13342 {background-position:-608px -224px;background-image:url('blocks_items_forestry.png');}
.item_13343 {background-position:-640px -224px;background-image:url('blocks_items_forestry.png');}
.item_13344 {background-position:-672px -224px;background-image:url('blocks_items_forestry.png');}
.item_13345 {background-position:-704px -224px;background-image:url('blocks_items_forestry.png');}
.item_13346 {background-position:-736px -224px;background-image:url('blocks_items_forestry.png');}
.item_13347 {background-position:-768px -224px;background-image:url('blocks_items_forestry.png');}
.item_13351 {background-position:-800px -224px;background-image:url('blocks_items_forestry.png');}
.item_13352 {background-position:-416px -256px;background-image:url('blocks_items_forestry.png');}
.item_13353 {background-position:-448px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354 {background-position:-480px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354_1 {background-position:-512px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354_2 {background-position:-544px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354_3 {background-position:-576px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354_4 {background-position:-608px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354_5 {background-position:-640px -256px;background-image:url('blocks_items_forestry.png');}
.item_13354_6 {background-position:-672px -256px;background-image:url('blocks_items_forestry.png');}
.item_13356 {background-position:-704px -256px;background-image:url('blocks_items_forestry.png');}
.item_13357 {background-position:-736px -256px;background-image:url('blocks_items_forestry.png');}
.item_13358 {background-position:-768px -256px;background-image:url('blocks_items_forestry.png');}
.item_13359 {background-position:-800px -256px;background-image:url('blocks_items_forestry.png');}
.item_13360 {background-position:-416px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_2 {background-position:-448px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_3 {background-position:-480px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_4 {background-position:-512px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_5 {background-position:-544px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_6 {background-position:-576px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_7 {background-position:-608px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_15 {background-position:-640px -288px;background-image:url('blocks_items_forestry.png');}
.item_13360_16 {background-position:-672px -288px;background-image:url('blocks_items_forestry.png');}
.item_13361 {background-position:-704px -288px;background-image:url('blocks_items_forestry.png');}
.item_13362 {background-position:-736px -288px;background-image:url('blocks_items_forestry.png');}
.item_13363 {background-position:-768px -288px;background-image:url('blocks_items_forestry.png');}
.item_13364 {background-position:-800px -288px;background-image:url('blocks_items_forestry.png');}
.item_13365 {background-position:-416px -320px;background-image:url('blocks_items_forestry.png');}
.item_13366 {background-position:-448px -320px;background-image:url('blocks_items_forestry.png');}
.item_13367 {background-position:-480px -320px;background-image:url('blocks_items_forestry.png');}
.item_13368 {background-position:-512px -320px;background-image:url('blocks_items_forestry.png');}
.item_13368_1 {background-position:-544px -320px;background-image:url('blocks_items_forestry.png');}
.item_13368_2 {background-position:-576px -320px;background-image:url('blocks_items_forestry.png');}
.item_13368_3 {background-position:-608px -320px;background-image:url('blocks_items_forestry.png');}
.item_13369 {background-position:-640px -320px;background-image:url('blocks_items_forestry.png');}
.item_13370 {background-position:-672px -320px;background-image:url('blocks_items_forestry.png');}
.item_13370_1 {background-position:-704px -320px;background-image:url('blocks_items_forestry.png');}
.item_13370_2 {background-position:-736px -320px;background-image:url('blocks_items_forestry.png');}
.item_13370_3 {background-position:-768px -320px;background-image:url('blocks_items_forestry.png');}
.item_13370_4 {background-position:-800px -320px;background-image:url('blocks_items_forestry.png');}
.item_13370_5 {background-position:-416px -352px;background-image:url('blocks_items_forestry.png');}
.item_13370_6 {background-position:-448px -352px;background-image:url('blocks_items_forestry.png');}
.item_13370_7 {background-position:-480px -352px;background-image:url('blocks_items_forestry.png');}
.item_13370_8 {background-position:-512px -352px;background-image:url('blocks_items_forestry.png');}
.item_13370_9 {background-position:-544px -352px;background-image:url('blocks_items_forestry.png');}
.item_13370_10 {background-position:-576px -352px;background-image:url('blocks_items_forestry.png');}
.item_13370_11 {background-position:-608px -352px;background-image:url('blocks_items_forestry.png');}
.item_13371 {background-position:-640px -352px;background-image:url('blocks_items_forestry.png');}
.item_13372 {background-position:-672px -352px;background-image:url('blocks_items_forestry.png');}
.item_13372_1 {background-position:-704px -352px;background-image:url('blocks_items_forestry.png');}
.item_13372_2 {background-position:-736px -352px;background-image:url('blocks_items_forestry.png');}
.item_13372_3 {background-position:-768px -352px;background-image:url('blocks_items_forestry.png');}
.item_13372_3 {background-position:-800px -352px;background-image:url('blocks_items_forestry.png');}
.item_13372_5 {background-position:-416px -384px;background-image:url('blocks_items_forestry.png');}
.item_13372_6 {background-position:-448px -384px;background-image:url('blocks_items_forestry.png');}
.item_13373 {background-position:-480px -384px;background-image:url('blocks_items_forestry.png');}
.item_13374 {background-position:-512px -384px;background-image:url('blocks_items_forestry.png');}
.item_13375 {background-position:-544px -384px;background-image:url('blocks_items_forestry.png');}
.item_13376 {background-position:-576px -384px;background-image:url('blocks_items_forestry.png');}
.item_13377 {background-position:-608px -384px;background-image:url('blocks_items_forestry.png');}
.item_13378 {background-position:-640px -384px;background-image:url('blocks_items_forestry.png');}
.item_13379 {background-position:-672px -384px;background-image:url('blocks_items_forestry.png');}
.item_13380 {background-position:-704px -384px;background-image:url('blocks_items_forestry.png');}
.item_13381 {background-position:-736px -384px;background-image:url('blocks_items_forestry.png');}
.item_13382 {background-position:-768px -384px;background-image:url('blocks_items_forestry.png');}
.item_13383 {background-position:-800px -384px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-416px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-448px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-480px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-512px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-544px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-576px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-608px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-640px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-672px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-704px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-736px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-768px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-800px -416px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-416px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-448px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-480px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-512px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-544px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-576px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-608px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-640px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-672px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-704px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-736px -448px;background-image:url('blocks_items_forestry.png');}
.item_13384 {background-position:-768px -448px;background-image:url('blocks_items_forestry.png');}
.item_13385 {background-position:-800px -448px;background-image:url('blocks_items_forestry.png');}
.item_13386 {background-position:-416px -480px;background-image:url('blocks_items_forestry.png');}
.item_13386_1 {background-position:-448px -480px;background-image:url('blocks_items_forestry.png');}
.item_13386_2 {background-position:-480px -480px;background-image:url('blocks_items_forestry.png');}
.item_13386_3 {background-position:-512px -480px;background-image:url('blocks_items_forestry.png');}
.item_13386_4 {background-position:-544px -480px;background-image:url('blocks_items_forestry.png');}
.item_13386_5 {background-position:-576px -480px;background-image:url('blocks_items_forestry.png');}
.item_13386_6 {background-position:-608px -480px;background-image:url('blocks_items_forestry.png');}
.item_13387 {background-position:-640px -480px;background-image:url('blocks_items_forestry.png');}
.item_13388 {background-position:-672px -480px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-704px -480px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-736px -480px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-768px -480px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-800px -480px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-416px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-448px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-480px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-512px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-544px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-576px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-608px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-640px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-672px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-704px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-736px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-768px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-800px -512px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-416px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-448px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-480px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-512px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-544px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-576px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-608px -544px;background-image:url('blocks_items_forestry.png');}
.item_13389 {background-position:-640px -544px;background-image:url('blocks_items_forestry.png');}
.item_13390 {background-position:-672px -544px;background-image:url('blocks_items_forestry.png');}
.item_13390 {background-position:-704px -544px;background-image:url('blocks_items_forestry.png');}
.item_13390 {background-position:-736px -544px;background-image:url('blocks_items_forestry.png');}
.item_13390 {background-position:-768px -544px;background-image:url('blocks_items_forestry.png');}
.item_13390 {background-position:-800px -544px;background-image:url('blocks_items_forestry.png');}
.item_13390 {background-position:-416px -576px;background-image:url('blocks_items_forestry.png');}
.item_13391 {background-position:-448px -576px;background-image:url('blocks_items_forestry.png');}
.item_13391 {background-position:-480px -576px;background-image:url('blocks_items_forestry.png');}
.item_13391 {background-position:-512px -576px;background-image:url('blocks_items_forestry.png');}
.item_13391 {background-position:-544px -576px;background-image:url('blocks_items_forestry.png');}
.item_13391 {background-position:-576px -576px;background-image:url('blocks_items_forestry.png');}
.item_13391 {background-position:-608px -576px;background-image:url('blocks_items_forestry.png');}
.item_13392 {background-position:-640px -576px;background-image:url('blocks_items_forestry.png');}
.item_13756 {background-position:-672px -576px;background-image:url('blocks_items_forestry.png');}
.item_13757 {background-position:-704px -576px;background-image:url('blocks_items_forestry.png');}
.item_13758 {background-position:-736px -576px;background-image:url('blocks_items_forestry.png');}
.item_13759 {background-position:-768px -576px;background-image:url('blocks_items_forestry.png');}
.item_13760 {background-position:-800px -576px;background-image:url('blocks_items_forestry.png');}
.item_13761 {background-position:-416px -608px;background-image:url('blocks_items_forestry.png');}
.item_13762 {background-position:-448px -608px;background-image:url('blocks_items_forestry.png');}
.item_13763 {background-position:-480px -608px;background-image:url('blocks_items_forestry.png');}
.item_13764 {background-position:-512px -608px;background-image:url('blocks_items_forestry.png');}
.item_13765 {background-position:-544px -608px;background-image:url('blocks_items_forestry.png');}
.item_13766 {background-position:-576px -608px;background-image:url('blocks_items_forestry.png');}
.item_13767 {background-position:-608px -608px;background-image:url('blocks_items_forestry.png');}
.item_13768 {background-position:-640px -608px;background-image:url('blocks_items_forestry.png');}
.item_13769 {background-position:-672px -608px;background-image:url('blocks_items_forestry.png');}
.item_13770 {background-position:-704px -608px;background-image:url('blocks_items_forestry.png');}
.item_13771 {background-position:-736px -608px;background-image:url('blocks_items_forestry.png');}
.item_13772 {background-position:-768px -608px;background-image:url('blocks_items_forestry.png');}
.item_13773 {background-position:-800px -608px;background-image:url('blocks_items_forestry.png');}

.item_13774 {background-position:-832px 0px;background-image:url('blocks_items_forestry.png');}
.item_13775 {background-position:-864px 0px;background-image:url('blocks_items_forestry.png');}
.item_13776 {background-position:-896px 0px;background-image:url('blocks_items_forestry.png');}
.item_13777 {background-position:-928px 0px;background-image:url('blocks_items_forestry.png');}
.item_13778 {background-position:-960px 0px;background-image:url('blocks_items_forestry.png');}
.item_13779 {background-position:-992px 0px;background-image:url('blocks_items_forestry.png');}
.item_13780 {background-position:-1024px 0px;background-image:url('blocks_items_forestry.png');}
.item_13781 {background-position:-1056px 0px;background-image:url('blocks_items_forestry.png');}
.item_13782 {background-position:-1088px 0px;background-image:url('blocks_items_forestry.png');}
.item_13783 {background-position:-1120px 0px;background-image:url('blocks_items_forestry.png');}
.item_13784 {background-position:-1152px 0px;background-image:url('blocks_items_forestry.png');}
.item_13785 {background-position:-1184px 0px;background-image:url('blocks_items_forestry.png');}
.item_13786 {background-position:-1216px 0px;background-image:url('blocks_items_forestry.png');}
.item_13787 {background-position:-832px -32px;background-image:url('blocks_items_forestry.png');}
.item_13788 {background-position:-864px -32px;background-image:url('blocks_items_forestry.png');}
.item_13789 {background-position:-896px -32px;background-image:url('blocks_items_forestry.png');}
.item_13790 {background-position:-928px -32px;background-image:url('blocks_items_forestry.png');}
.item_13791 {background-position:-960px -32px;background-image:url('blocks_items_forestry.png');}
.item_13792 {background-position:-992px -32px;background-image:url('blocks_items_forestry.png');}
.item_13793 {background-position:-1024px -32px;background-image:url('blocks_items_forestry.png');}
.item_13794 {background-position:-1056px -32px;background-image:url('blocks_items_forestry.png');}
.item_13795 {background-position:-1088px -32px;background-image:url('blocks_items_forestry.png');}
.item_13796 {background-position:-1120px -32px;background-image:url('blocks_items_forestry.png');}
.item_13797 {background-position:-1152px -32px;background-image:url('blocks_items_forestry.png');}
.item_13798 {background-position:-1184px -32px;background-image:url('blocks_items_forestry.png');}
.item_13799 {background-position:-1216px -32px;background-image:url('blocks_items_forestry.png');}
.item_13800 {background-position:-832px -64px;background-image:url('blocks_items_forestry.png');}
.item_13801 {background-position:-864px -64px;background-image:url('blocks_items_forestry.png');}
.item_13802 {background-position:-896px -64px;background-image:url('blocks_items_forestry.png');}
.item_13803 {background-position:-928px -64px;background-image:url('blocks_items_forestry.png');}
.item_13804 {background-position:-960px -64px;background-image:url('blocks_items_forestry.png');}
.item_13805 {background-position:-992px -64px;background-image:url('blocks_items_forestry.png');}
.item_13806 {background-position:-1024px -64px;background-image:url('blocks_items_forestry.png');}
.item_13807 {background-position:-1056px -64px;background-image:url('blocks_items_forestry.png');}
.item_13808 {background-position:-1088px -64px;background-image:url('blocks_items_forestry.png');}
.item_13809 {background-position:-1120px -64px;background-image:url('blocks_items_forestry.png');}
.item_13810 {background-position:-1152px -64px;background-image:url('blocks_items_forestry.png');}
.item_13811 {background-position:-1184px -64px;background-image:url('blocks_items_forestry.png');}
.item_13812 {background-position:-1216px -64px;background-image:url('blocks_items_forestry.png');}
.item_14256 {background-position:-832px -96px;background-image:url('blocks_items_forestry.png');}