.item_4095 {background-position:-416px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_1 {background-position:-448px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_2 {background-position:-480px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_3 {background-position:-512px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_4 {background-position:-544px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_5 {background-position:-576px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_6 {background-position:-608px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_7 {background-position:-640px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_8 {background-position:-672px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_9 {background-position:-704px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_4095_10 {background-position:-736px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_31256 {background-position:-768px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_31257 {background-position:-800px 0px;background-image:url('blocks_items_nuclear_control.png');}
.item_31258 {background-position:-448px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31259 {background-position:-480px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31260 {background-position:-512px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31260_1 {background-position:-544px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31260_2 {background-position:-576px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31261 {background-position:-608px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31262 {background-position:-640px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31263 {background-position:-672px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31264 {background-position:-704px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31265 {background-position:-736px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31265_1 {background-position:-768px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31266 {background-position:-800px -32px;background-image:url('blocks_items_nuclear_control.png');}
.item_31266_1 {background-position:-416px -64px;background-image:url('blocks_items_nuclear_control.png');}
.item_31267 {background-position:-448px -64px;background-image:url('blocks_items_nuclear_control.png');}