.item_975 {background-position:0px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_0 {background-position:0px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_1 {background-position:-32px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_2 {background-position:-64px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_3 {background-position:-96px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_4 {background-position:-128px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_5 {background-position:-160px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_975_6 {background-position:-192px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19757 {background-position:-224px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19758 {background-position:-256px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19759 {background-position:-288px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19760 {background-position:-320px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19761 {background-position:-352px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19762 {background-position:-384px 0px;background-image:url('blocks_items_iron_chest.png');}
.item_19763 {background-position:0px -32px;background-image:url('blocks_items_iron_chest.png');}
.item_19764 {background-position:-32px -32px;background-image:url('blocks_items_iron_chest.png');}
.item_19765 {background-position:-64px -32px;background-image:url('blocks_items_iron_chest.png');}