.item_1500 {background-position:0px 0px;background-image:url('blocks_items_bc.png');}
.item_1501 {background-position:-32px 0px;background-image:url('blocks_items_bc.png');}
.item_1502 {background-position:-64px 0px;background-image:url('blocks_items_bc.png');}
.item_1503 {background-position:-96px 0px;background-image:url('blocks_items_bc.png');}
.item_1504 {background-position:-128px 0px;background-image:url('blocks_items_bc.png');}
.item_1505 {background-position:-160px 0px;background-image:url('blocks_items_bc.png');}
.item_1507 {background-position:-192px 0px;background-image:url('blocks_items_bc.png');}
.item_1508 {background-position:-224px 0px;background-image:url('blocks_items_bc.png');}
.item_1509 {background-position:-256px 0px;background-image:url('blocks_items_bc.png');}
.item_1510_0 {background-position:-288px 0px;background-image:url('blocks_items_bc.png');}
.item_1510_1 {background-position:-320px 0px;background-image:url('blocks_items_bc.png');}
.item_1510_2 {background-position:-352px 0px;background-image:url('blocks_items_bc.png');}
.item_1511 {background-position:-384px 0px;background-image:url('blocks_items_bc.png');}
.item_1512 {background-position:0px -32px;background-image:url('blocks_items_bc.png');}
.item_1513 {background-position:-32px -32px;background-image:url('blocks_items_bc.png');}
.item_1514 {background-position:-64px -32px;background-image:url('blocks_items_bc.png');}
.item_1515 {background-position:-96px -32px;background-image:url('blocks_items_bc.png');}
.item_1516 {background-position:-128px -32px;background-image:url('blocks_items_bc.png');}
.item_1517_0 {background-position:-160px -32px;background-image:url('blocks_items_bc.png');}
.item_1517_1 {background-position:-192px -32px;background-image:url('blocks_items_bc.png');}
.item_1518 {background-position:-224px -32px;background-image:url('blocks_items_bc.png');}
.item_1519 {background-position:-256px -32px;background-image:url('blocks_items_bc.png');}
.item_1520 {background-position:-288px -32px;background-image:url('blocks_items_bc.png');}
.item_1521 {background-position:-320px -32px;background-image:url('blocks_items_bc.png');}
.item_1522_0 {background-position:-352px -32px;background-image:url('blocks_items_bc.png');}
.item_1522_1 {background-position:-384px -32px;background-image:url('blocks_items_bc.png');}
.item_1523 {background-position:0px -64px;background-image:url('blocks_items_bc.png');}
.item_19356 {background-position:-32px -64px;background-image:url('blocks_items_bc.png');}
.item_19357 {background-position:-64px -64px;background-image:url('blocks_items_bc.png');}
.item_19358 {background-position:-96px -64px;background-image:url('blocks_items_bc.png');}
.item_19359 {background-position:-128px -64px;background-image:url('blocks_items_bc.png');}
.item_19360 {background-position:-160px -64px;background-image:url('blocks_items_bc.png');}
.item_19361 {background-position:-192px -64px;background-image:url('blocks_items_bc.png');}
.item_19362 {background-position:-224px -64px;background-image:url('blocks_items_bc.png');}
.item_19363 {background-position:-256px -64px;background-image:url('blocks_items_bc.png');}
.item_19364 {background-position:-288px -64px;background-image:url('blocks_items_bc.png');}
.item_19365 {background-position:-320px -64px;background-image:url('blocks_items_bc.png');}
.item_19366 {background-position:-352px -64px;background-image:url('blocks_items_bc.png');}
.item_19367 {background-position:-384px -64px;background-image:url('blocks_items_bc.png');}
.item_19367_1 {background-position:0px -96px;background-image:url('blocks_items_bc.png');}
.item_19367_2 {background-position:-32px -96px;background-image:url('blocks_items_bc.png');}
.item_19367_3 {background-position:-64px -96px;background-image:url('blocks_items_bc.png');}
.item_19367_4 {background-position:-96px -96px;background-image:url('blocks_items_bc.png');}
.item_19367_5 {background-position:-128px -96px;background-image:url('blocks_items_bc.png');}
.item_19367_6 {background-position:-160px -96px;background-image:url('blocks_items_bc.png');}
.item_19369 {background-position:-192px -96px;background-image:url('blocks_items_bc.png');}
.item_19370 {background-position:-224px -96px;background-image:url('blocks_items_bc.png');}
.item_19371 {background-position:-256px -96px;background-image:url('blocks_items_bc.png');}
.item_19372 {background-position:-288px -96px;background-image:url('blocks_items_bc.png');}
.item_19373_0 {background-position:-320px -96px;background-image:url('blocks_items_bc.png');}
.item_19373_1 {background-position:-352px -96px;background-image:url('blocks_items_bc.png');}
.item_19373_2 {background-position:-384px -96px;background-image:url('blocks_items_bc.png');}
.item_19373_3 {background-position:0px -128px;background-image:url('blocks_items_bc.png');}
.item_19373_4 {background-position:-32px -128px;background-image:url('blocks_items_bc.png');}
.item_19374 {background-position:-64px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_0 {background-position:-96px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_1 {background-position:-128px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_2 {background-position:-160px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_3 {background-position:-192px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_4 {background-position:-224px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_5 {background-position:-256px -128px;background-image:url('blocks_items_bc.png');}
.item_19396_6 {background-position:-288px -128px;background-image:url('blocks_items_bc.png');}
.item_19397 {background-position:-320px -128px;background-image:url('blocks_items_bc.png');}

.item_19398 {background-position:-64px -608px;background-image:url('blocks_items_bc.png');}
.item_19416 {background-position:-96px -608px;background-image:url('blocks_items_bc.png');}
.item_19417 {background-position:-128px -608px;background-image:url('blocks_items_bc.png');}
.item_19418 {background-position:-160px -608px;background-image:url('blocks_items_bc.png');}
.item_19419 {background-position:-192px -608px;background-image:url('blocks_items_bc.png');}
.item_19420 {background-position:-224px -608px;background-image:url('blocks_items_bc.png');}
.item_19421 {background-position:-256px -608px;background-image:url('blocks_items_bc.png');}
.item_19422 {background-position:-288px -608px;background-image:url('blocks_items_bc.png');}
.item_19423 {background-position:-320px -608px;background-image:url('blocks_items_bc.png');}
.item_19424 {background-position:-352px -608px;background-image:url('blocks_items_bc.png');}
.item_19436 {background-position:-384px -608px;background-image:url('blocks_items_bc.png');}
.item_19437 {background-position:-416px 0px;background-image:url('blocks_items_bc.png');}
.item_19438 {background-position:-448px 0px;background-image:url('blocks_items_bc.png');}
.item_19439 {background-position:-480px 0px;background-image:url('blocks_items_bc.png');}
.item_19440 {background-position:-512px 0px;background-image:url('blocks_items_bc.png');}
.item_19443 {background-position:-544px 0px;background-image:url('blocks_items_bc.png');}
.item_19456 {background-position:-576px 0px;background-image:url('blocks_items_bc.png');}
.item_19457 {background-position:-608px 0px;background-image:url('blocks_items_bc.png');}
.item_19458 {background-position:-640px 0px;background-image:url('blocks_items_bc.png');}
.item_19460 {background-position:-672px 0px;background-image:url('blocks_items_bc.png');}
.item_19461 {background-position:-704px 0px;background-image:url('blocks_items_bc.png');}
.item_19464 {background-position:-736px 0px;background-image:url('blocks_items_bc.png');}
.item_19476 {background-position:-768px 0px;background-image:url('blocks_items_bc.png');}
.item_19477 {background-position:-800px 0px;background-image:url('blocks_items_bc.png');}
.item_19478 {background-position:-416px -32px;background-image:url('blocks_items_bc.png');}
.item_19479 {background-position:-448px -32px;background-image:url('blocks_items_bc.png');}
.item_19480 {background-position:-480px -32px;background-image:url('blocks_items_bc.png');}