.item_2242_0 {background-position:0px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2242_2 {background-position:-32px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2242_3 {background-position:-64px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_0 {background-position:-96px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_1 {background-position:-128px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_2 {background-position:-160px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_3 {background-position:-192px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_4 {background-position:-224px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_5 {background-position:-256px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_6 {background-position:-288px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_7 {background-position:-320px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_8 {background-position:-352px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_9 {background-position:-384px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_10 {background-position:-416px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_11 {background-position:-448px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_12 {background-position:-480px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_13 {background-position:-512px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_14 {background-position:-544px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2243_15 {background-position:-576px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_0 {background-position:-608px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_1 {background-position:-640px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_2 {background-position:-672px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_3 {background-position:-704px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_4 {background-position:-736px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_5 {background-position:-768px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_6 {background-position:-800px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_7 {background-position:-832px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_8 {background-position:-864px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_9 {background-position:-896px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_10 {background-position:-928px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_11 {background-position:-960px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_12 {background-position:-992px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_13 {background-position:-1024px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_14 {background-position:-1056px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2244_15 {background-position:-1088px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2245_0 {background-position:-1120px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2245_1 {background-position:-1152px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2245_2 {background-position:-1184px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2245_3 {background-position:-1216px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2246 {background-position:-1248px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2247 {background-position:-1280px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2248_0 {background-position:-1312px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2248_1 {background-position:-1344px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2248_2 {background-position:-1376px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2248_3 {background-position:-1408px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2249 {background-position:-1440px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2250_0 {background-position:-1472px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2250_1 {background-position:-1504px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2250_2 {background-position:-1536px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2250_3 {background-position:-1568px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2251_0 {background-position:-1600px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2251_1 {background-position:-1632px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2251_2 {background-position:-1664px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2251_3 {background-position:-1696px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2252_0 {background-position:-1728px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2252_1 {background-position:-1760px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2252_2 {background-position:-1792px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2252_3 {background-position:-1824px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2253_0 {background-position:-1856px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2253_1 {background-position:-1888px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2253_2 {background-position:-1920px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2253_3 {background-position:-1952px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2254_0 {background-position:-1984px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2254_1 {background-position:-2016px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2254_2 {background-position:-2048px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2254_3 {background-position:-2080px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_0 {background-position:-2112px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_1 {background-position:-2144px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_2 {background-position:-2176px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_3 {background-position:-2208px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_4 {background-position:-2240px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_5 {background-position:-2272px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_6 {background-position:-2304px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_7 {background-position:-2336px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_8 {background-position:-2368px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_9 {background-position:-2400px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_10 {background-position:-2432px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_11 {background-position:-2464px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_12 {background-position:-2496px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_13 {background-position:-2528px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_14 {background-position:-2560px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2255_15 {background-position:-2592px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2290_0 {background-position:-2624px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2290_1 {background-position:-2656px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2290_2 {background-position:-2688px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2290_3 {background-position:-2720px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2291_0 {background-position:-2752px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2291_1 {background-position:-2784px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2291_2 {background-position:-2816px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_2291_3 {background-position:-2848px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22478 {background-position:-2880px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22479 {background-position:-2912px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22480 {background-position:-2944px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22481 {background-position:-2976px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22482 {background-position:-3008px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22483_0 {background-position:-3040px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22483_1 {background-position:-3072px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22483_2 {background-position:-3104px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22484 {background-position:-3136px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22486 {background-position:-3168px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22487 {background-position:-3200px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22488 {background-position:-3232px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22490 {background-position:-3264px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22491 {background-position:-3296px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22492_0 {background-position:-3328px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22492_1 {background-position:-3360px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22492_2 {background-position:-3392px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22942_3 {background-position:-3424px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22493_0 {background-position:-3456px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22493_1 {background-position:-3488px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22493_2 {background-position:-3520px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22493_3 {background-position:-3552px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22494_0 {background-position:-3584px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22494_1 {background-position:-3616px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22494_2 {background-position:-3648px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22494_3 {background-position:-3680px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22495_0 {background-position:-3712px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22495_1 {background-position:-3744px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22495_2 {background-position:-3776px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22495_3 {background-position:-3808px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22496_0 {background-position:-3840px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22496_1 {background-position:-3872px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22496_2 {background-position:-3904px 0px;background-image:url(blocks_items_bibliocraft.png);}
.item_22496_3 {background-position:-3936px 0px;background-image:url(blocks_items_bibliocraft.png);}